<div class="friends-page-content">
  <h2>Friends</h2>
  <ul>
    <% friends_list.each do |friend| %>
      <li>
        <%= image_tag friend.avatar, class: "profile-pic-icon" %>
        <%= link_to friend.name, user_path(username: friend.username) %>
      </li>
    <% end %>
  </ul>
</div>