<div class="friends-page-sidebar">

  <div>
    <div class="icon-container">
      <span class="mdi mdi-account-multiple"></span>
    </div>
    Friends
  </div>

  <div>
    <div class="icon-container">
      <span class="mdi mdi-account-arrow-right"></span>
    </div>
    Friend Requests
  </div>
  
</div>