<div class="friends-page-sidebar">

  <div>
    <span class="mdi mdi-account-multiple"></span>Friends
  </div>

  <div>
    <span class="mdi mdi-account-arrow-right"></span>Friend Requests
  </div>
  
</div>