<h2>All Friends</h2>
<ul>
  <% @friends_list.each do |friend| %>
    <li>
      <%= link_to friend.username, friend_path(id: friend.id) %>
    </li>
  <% end %>
</ul>

<h2>Friend Requests</h2>
<ul>
  <% @received_requests.each do |request| %>
    <li>
      <%= request.requester.username %>
      <%= button_to "Confirm", friendships_path, form: { style: "display: inline-block" }, params: { request_id: request, friend_id: request.requester } %>
      <%= button_to "Delete", friend_request_path(request), method: :delete, form: { style: "display: inline-block" } %>
    </li>
  <% end %>
</ul>