<%# guard clause necessary? %>
<div data-controller="modal">
  <% if profile.avatar.attached? && profile.user == current_user %>
    <%= tag.span image_tag(profile.avatar), class: "profile-avatar own", title: "Change your avatar", data: {action: "click->modal#show"} %>
  <% else %>
    <%= tag.span image_tag(profile.avatar), class: "profile-avatar", title: "Avatar" %>
  <% end %>
  
  <%= render partial: "users/edit_avatar", locals: {profile: profile} %>
</div>