<h1>All Users</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= image_tag user.avatar, class: "profile-pic-icon" %>
      <%= link_to user.name.capitalize, user_path(username: user.username) %>
      <% if @users_sent_requests_to.include?(user) %>
        <%= button_to "Request Sent", {}, form: {style: 'display:inline-block;'}, disabled: true %>
      <% elsif @not_friends_list.include?(user) && @potential_friends.exclude?(user) %>
        <%= button_to "Friend Request", friend_requests_path, form: {style: 'display:inline-block;'}, params: { user: user } %>
      <% end %>
    </li>
  <% end %>
</ul>
