<div class="users-page">
  <%= render "shared/sidebar" %>
  <%= render partial: "content",  locals: {users: @users, users_sent_requests_to: @users_sent_requests_to, not_friends_list: @not_friends_list, potential_friends: @potential_friends}%>
</div>
