<div class="flash" data-controller="flash">
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %><button type="button">Cancel</button></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %><button type="button">Cancel</button></p>
  <% end %>
</div>