<div class="flash", id="flash" data-controller="removals">
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %><span class="mdi mdi-close" data-action="click->removals#remove"></span></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %><span class="mdi mdi-close" data-action="click->removals#remove"></span></p>
  <% end %>
</div>