<div class="notification-dropdown-container" data-menu-target="notificationMenu">
  <div class="notification-dropdown-header">
    <h3>Notifications</h3>
    <span class="clear-all">Clear All</span>
  </div>
  <div class="notifications-list">
  <% notifications.each do |notification| %>
    <div class="notifications-list-item">
      <%= image_tag notification.sender.profile.avatar, width: 45, height: 45, class: "profile-pic-icon" %>
      <p><%= notification.message %></p>
      <%= button_to notification_path(username: current_user.username, id: notification.id), method: :delete do %>
        <span class="mdi mdi-close"></span>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
