<div class="friends-page-sidebar">

  <%= link_to friends_path, class: ("active" if current_page?(controller: 'friendships', action: 'index')) do %>
    <div class="icon-container">
      <span class="mdi mdi-account-multiple"></span>
    </div>
    Friends
  <% end %>

  <%= link_to friend_requests_path, class: ("active" if current_page?(controller: 'friend_requests', action: 'index')) do %>
    <div class="icon-container">
      <span class="mdi mdi-account-arrow-right"></span>
    </div>
    Friend Requests
  <% end %>

  <%= link_to users_path, class: ("active" if current_page?(controller: 'users', action: 'index')) do %>
    <div class="icon-container">
      <span class="mdi mdi-account-group"></span>
    </div>
    All Users
  <% end %>
  
</div>