<div class="friend-requests-page-content">

  <div class="content-title-container">
    <span class="mdi mdi-account-arrow-right"></span>
    <h2>Friend Requests</h2>
  </div>

  <%= render partial: "received_list", locals: {received_requests: @received_requests} %>
  <%= render partial: "sent_list", locals: {sent_requests: @sent_requests} %>
 
</div>