<div data-modal-target="modal"  id="add-image-modal" >
  <div class="modal-content" data-action="click@window->modal#close">
    <a href=""><span class="mdi mdi-close"></span></a>
    <h1>Hello, I am a modal!</h1>
  </div>
</div>