<div data-modal-target="modalcontainer"  id="add-image-modal" data-action="mousedown->modal#addClickAction">
  <div class="modal-content" data-modal-target="modaldialog" data-action="mousedown->modal#stopPropagation mouseover->modal#removeClickAction" >
    <div class="modal-top">
      <h3 class="modal-title">Attach Image</h3>
      <span class="mdi mdi-close modal" data-action="click->modal#close"></span>
    </div>
    <hr>
    <%= form_with model: post do |form| %>
      <div>
        <%= form.label :image_url, "One Image URL" %>
        <%= form.text_field :image_url, 'data-modal-target' => 'input' %>
      </div>
  
      <div>
        <%= form.button "Choose Image", data: { action: "modal#copy" } %>
      </div>
    <% end %>
  </div>
</div>
