<div data-modal-target="modal"  id="add-image-modal" >
  <div class="modal-content" data-action="click@window->modal#close">  
    <div class="modal-top">
      <h3 class="modal-title">Attach Image</h3>
      <span class="mdi mdi-close modal"></span>
    </div>
    <hr>

    <%= form_with model: post do |form| %>
      <div>
        <%= form.label :image_url, "One Image URL" %>
        <%= form.text_field :image_url, data: { target: 'modal.input' } %>
      </div>
      
      <div>
        <%= form.button "Choose Image" %>
      </div>
    <% end %>
  </div>
</div>