<%= tag.div class: "comment-button", 'data-postid' => post.id, 'data-comments-target' => 'commentsButton' do %>
  <span class="mdi mdi-comment-outline"></span>
  <span class="button-text">Comment</span>
<% end %>