<div class="post-container">
  <%= image_tag "black_head_avatar.png", class: "profile-pic-icon" %>
  <a href="posts/new" class="post-text-placeholder">What's on your mind, <%= current_user.name.capitalize %>?</a>
</div>