<div class="post-container published">
  <div class="post-author-container">
    <%= image_tag "black_head_avatar.png", class: "profile-pic-icon" %>
    <div class="user-info">
      <p class="user-info-name"><%= post.author.username.capitalize %></p>
      <p class="user-info-date"><%= post.created_at.in_time_zone('Tokyo').strftime("%b %d") %></p>
    </div>
  </div>
  <hr>
  <p><%= post.body %></p>
</div>