  <div class="main-homepage-sidebar">

    <div class="sidebar-item">
      <%= image_tag current_user.avatar, class: "profile-pic-icon homepage-sidebar" %>
      <%= tag.span current_user.name, class: "item-label" %>
    </div>

    <div class="sidebar-item">
      <span class="mdi mdi-account-multiple"></span>
      <span class="item-label">Friends</span>
    </div>

    <div class="sidebar-item">
      <span class="mdi mdi-account-group"></span>
      <span class="item-label">All Users</span>
    </div>
    
  </div>