<div class="main-homepage">

  <%= render "sidebar" %>

  <div class="main-homepage-center">
    <%= render "posts/new_post_placeholder" %>
    
    <%= turbo_frame_tag "posts" do %>
      <% @timeline_posts.each do |post| %>
        <%= render partial: "post", locals: { post: post, likes: post.likes.includes(:user) }%>
      <% end %>
    <% end %>
  </div>

  <div class="main-homepage-right">
    <%= render partial: "posts/headlines", locals: {headlines: @headlines} %>
  </div>

</div>
