<%= turbo_frame_tag "new_post_frame" do %>
  <div class="post-container new">
    <div class="post-author-container">
      <%= image_tag "black_head_avatar.png", class: "profile-pic-icon" %>
      <div class="user-info">
        <%= current_user.name.capitalize %>
      </div>
      <a href="/"><span class="mdi mdi-close"></span></a>
    </div>
    <hr>
      <%= render 'form', post: @post %>
  </div>
<% end %>
