input[type="file"] {
  opacity: 0;
  width: 0;
}

form label[for="profile_avatar"],
form label[for="post_image_file"] {
  background-color: #f5f6f7;
  color: black;
  font-family: 'Noto Sans', Arial, sans-serif;
  border: 1px solid #dbdddf;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9rem;
  padding: 8px;
}

form label[for="profile_avatar"]:hover,
form label[for="post_image_file"]:hover {
  background-color: #e6e7e7;
}

form label[for="profile_avatar"]:active,
form label[for="post_image_file"]:active {
  background-color: #d4d6d6
}

form label[for="post_ximage_file"] {
  background-color: #f5f6f7;
  color: grey;
  font-family: 'Noto Sans', Arial, sans-serif;
  border: 1px solid #dbdddf;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9rem;
  padding: 8px;
}

.modal-footer > button[type="submit"] {
  background-color: #0076ff;
  color: white;
  border: 1px solid #0066ff;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-footer > button[name="cancel"] {
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #dbdddf;
  background-color: #f5f6f7;
}

.modal-footer > button[name="cancel"]:hover {
  background-color: #e9ecec;
}

.fb-login-button,
.signup-button,
.login-page form input[type="submit"],
.reset-password,
.change-password {
  background-color: #0076ff;
  color: white;
  border: 1px solid #0066ff;
  padding: 12px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.fb-login-button {
  background-color: #0066ff;
}

.signup-button {
  background-color: #42b72a;
  border: 1px solid #42b72a;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 16px;
}

.confirm,
.add-friend {
  background-color: #0076ff;
  color: white;
  border: 1px solid #0066ff;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
}

.add-friend {
  padding: 6px 12px 6px 10px;
}

button.add-friend:disabled {
  background-image: linear-gradient(rgba(255, 255, 255, 0.6) 0 0);
  padding: 7px 13px 7px 11px;
  border: none;
}

.confirm:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.delete,
.cancel-request,
.unfriend {
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #dbdddf;
  background-color: #f5f6f7;
  font-weight: 500;
  width: max-content;
}

.delete:hover,
.cancel-request:hover,
.unfriend:hover {
  background-color: #e9ecec;
}

.notifications-list-item form button {
  border: none;
  background-color: white;
}

.post-buttons .mdi {
  color: black;
}