input[type="file"] {
  opacity: 0;
  width: 0;
}

form label[for="profile_avatar"],
form label[for="post_image_file"] {
  background-color: #4267B2;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  font-weight: bold;
  height: auto;
  white-space: nowrap;
  box-sizing: border-box;
}

form label[for="profile_avatar"]:hover,
form label[for="post_image_file"]:hover {
  background-color: #263b75;
}

form label[for="profile_avatar"]:active,
form label[for="post_image_file"]:active {
  background-color: #041a53;
}

form label[for="xpost_image_file"] {
  background-color: #b9c2e5;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #b9c2e5;
  font-size: 0.8rem;
  font-weight: bold;
  height: auto;
  white-space: nowrap;
  box-sizing: border-box;
}
