.new-comment-container {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 16px;
}

turbo-frame[src$="comments/new"] {
  width: 100%;
  margin: 16px 0;
}

input[name="comment[body]"] {
  background-color: #e9ebee;
  border-radius: 15px;
  color: #596373;
  padding: 8px 10px;
  border: none;
}

.individual-comment-container {
  width: 80%;
  align-items: flex-start;
  display: flex;

  gap: 16px;
}

turbo-frame[id^="show-comment-region"] {
  margin-top: -16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.individual-comment-container:first-child {
  margin-top: 12px;
}

.individual-comment-text-container {
  display: flex;
  flex-direction: column;
  background-color: #e9ebee;
  border-radius: 15px;
  padding: 8px 12px;
  gap: 2px;
  box-sizing: border-box;
}

.comment-author {
  font-weight: bolder;
  font-size: 0.9rem;
}

.comment-body {
  font-size: 1rem;
}

.show-comment-region {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.comments-section {
  margin-top: 8px;
  margin-bottom: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment-details {
  display: flex;
  flex-direction: column;
}

.comment-elapsed-time {
  margin-left: 24px;
  font-size: 0.75rem;
  color: #65676b;
  align-self: flex-end;
}