.login-page,
.forgot-password-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.sign-up-page,
.change-password-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-up-form,
.forgot-password-form-container,
.change-password-form-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: max-content;
  background-color: white;
  padding: 14px 16px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.login-form-container {
  width: 360px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px 16px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-form-container > form,
.sign-up-page form,
.forgot-password-page form,
.change-password-page form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  border-radius: 5px;
}

.forgot-password-page form,
.change-password-page form {
  gap: 12px;
}

.forgot-password-link {
  text-decoration: none;
  color: #003cff;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.field input {
  flex: 1;
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
  color: black;
}

.field input:focus-visible {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 0 0 1pt black;
  color: black;
}

.field_with_errors {
  display: flex;
}

#error_explanation {
  border: 4px solid indianred;
  background-color: #ffb6c140;
  border-radius: 5px;
  padding: 12px;
}

.field_with_errors input {
  border: 1px solid red;
  outline: none;
}

.field_with_errors input:focus-visible {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 0 0 1px red;
  outline: none;
}

.field > input[type="checkbox"] {
  flex: 0;
  padding: 6px;
  appearance: auto;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  box-shadow: none;
}

.field > input[type="checkbox"]:focus-visible {
  outline: 1px solid black;
}

.remember-me.field {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 8px 0;
  align-items: center;
  justify-content: flex-start;
}

.separation-line-with-words {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 18px;
  color: grey;
}

.separation-line-with-words:before,
.separation-line-with-words:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid grey;
  margin: auto;
}

.login-logo {
  font-family: 'Cherry Swash', cursive;
  font-size: 4rem;
  font-weight: bolder;
  color: #0076ff;
}

.sign-up-form-header,
.forgot-password-form-header,
.change-password-form-header {
  line-height: normal;
  margin-bottom: 12px;
}

.forgot-password-link {
  font-size: 0.9rem;
}

.field em {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .login-page,
  .sign-up-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .login-logo-container {
    margin-top: 16px;
    margin-bottom: 12px;
    text-align: center;
  }

  .login-logo {
    font-size: 1.7rem;
  }

  .login-form-container,
  .sign-up-form {
    width: max(320px, 100%);
    max-width: 400px;
    box-shadow: none;
  }
}