.friends-page-sidebar > div,
.friends-page-sidebar > a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.friends-page-sidebar > div:hover,
.friends-page-sidebar > a:hover {
  background-color: #F5F6F7;
  cursor: pointer;
}

.friends-page-sidebar > a.active {
 background-color: #e5e4e27d;
}

.friends-page-sidebar > a.active > .icon-container {
  color: white;
  background-color: #1877F2;
}

.friends-page-sidebar > div > .icon-container,
.friends-page-sidebar > a > .icon-container,
.friends-page-sidebar button .icon-container {
  background-color: #E4E6EB;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friends-page-sidebar > div > .icon-container > .mdi,
.friends-page-sidebar > a > .icon-container > .mdi {
  font-size: 1.5rem;
}

.content-title-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin: 14px 20px 14px 4px;
}

.content-title-container > .mdi {
  font-size: 1.5rem;
  color: black;
  margin-top: 2px;
}

ul.friends-list,
ul.friend-requests-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 20px 0;
}

ul.friend-requests-list > h3 {
  align-self: center;
}

li.friend-card-item,
li.friend-request-card-item {
  background-color: white;
  padding: 16px 14px;
  border-radius: 5px;
  display: flex;
  gap: 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

li.friend-card-item a,
li.friend-request-card-item > div > div > a {
  text-decoration: none;
  color: #000000c4;
  font-size: 1.1rem;
  font-weight: 700;
}

.friend-card-item-middle,
li.friend-request-card-item .card-item-middle,
.card-item-middle {
  flex: 1;
  max-width: 450px;
}

li.friend-request-card-item .card-item-right {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 18px;
}

li.friend-card-item a:hover,
li.friend-request-card-item > div > div > a:hover {
  text-decoration: underline;
}

.received-requests-container {
  margin-bottom: 24px;
}

.received-requests-container p, 
.sent-requests-container p {
  margin-top: 12px;
  font-weight: 400;
}

.friends-page-sidebar button:active {
  background-color: #e5e4e27d;
}

.friends-page-sidebar .mdi.mdi-logout {
  font-size: 1.2rem;
  transform: translateX(1px);
}

.friends-page-sidebar form {
  display: flex;
  align-items: stretch;
  border-radius: 5px;
  height: 52px;
  color: black;
  margin-top: 36px;
}

.friends-page-sidebar form button.logout {
  display: none;
}

@media (max-width: 768px) {
  main .friends-page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  main .friends-page-sidebar {
    border: none;
  }

  main .friends-page-content,
  main .friend-requests-page-content {
    background-color: white;
    padding: 0 0 24px 0;
  }

  main li.friend-card-item,
  main li.friend-request-card-item {
    box-shadow: none;
  }

  ul.friends-list {
    gap: 0;
  }

  .friends-page-content > p {
    margin: 14px 14px 24px;
  }

  .friend-requests-heading,
  .friend-requests-heading + p {
    margin: 0 16px;
  }

  .friend-requests-heading + p {
    margin-top: 14px;
  }

  div > .friends-page-sidebar {
    display: none;
  }

  main > .friends-page-sidebar {
    display: flex;
  }

  .friends-page-sidebar form button.logout {
    background-color: white;
    flex: 1;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 8px;
    cursor: pointer;
  }
  
  .friends-page-sidebar form button.logout:hover {
    background-color: #F5F6F7;
  }
}