body {
  background-color: #E9EBEE;
  font-family: 'Helvetica', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.notice {
  background-color: #dafbe1;
}

.alert {
  background-color: #FFEBE9;
}

hr {
  border: 1px solid grey;
}