@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cherry Swash';
  src: url('CherrySwash-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cherry Swash';
  src: url('CherrySwash-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #e9ebee;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
  color: black;
  min-height: 100%;
}

.no-scroll {
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 56px;
  color: #65676B;
  box-shadow: 0 1px 8px lightgrey;
  position: sticky;
  z-index: 2;
  top: 0;
  padding: 0 16px;
}

header > div.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  width: 120px;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.notice {
  background-color: #dafbe1;
}

.alert {
  background-color: #ffebe9;
}

hr {
  border: 1px solid grey;
}

input[type="text"] {
  color: black;
}

input:focus-visible {
  color: black;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 0 0 1px black;
}

button:focus-visible {
  outline: 1px solid black;
}

textarea,
textarea:focus-visible {
  border: none;
  outline: none;
  resize: vertical;
}

a:focus-visible {
  outline: 1px solid black;
}

body > div {
  background-color: white;
  min-height: 100vh;
}

@media (max-width: 768px) {
  
  body {
    background-color: #d5d8db;
  }

  body > div {
    background-color: white;
    min-height: fit-content;
  }

  body:has(.change-password-page, .forgot-password-page) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header {
    box-shadow: none;
    height: fit-content;
    box-shadow: none;
    padding: 6px 14px;
  }
}