.profile-pic-icon {
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  object-fit: cover;
  border-radius: 50%;
}

.profile-pic.comment {
  width: 40px;
  height: 40px;
  background-color: whitesmoke;
  object-fit: cover;
  border-radius: 50%;
}

.preview-avatar {
  display: inline-block;
  max-width: 200px;
  height: auto;
}

.post-image {
  max-width: 90%;
  height: auto;
}