.main-homepage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 24px 0;
}

.main-homepage-center {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.friends-page,
.friend-requests-page,
.users-page {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 56px);
}

.friends-page-sidebar {
  background-color: white;
  padding: 8px;
  border: 1px solid lightgrey;
}

.friends-page-content,
.friend-requests-page-content,
.users-page-content {
  padding: 14px;
}