.main-homepage {
  background-color: #e9ebee;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  justify-content: center;
  padding: 24px 0;
  flex: 1;
}

.main-homepage-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 0 8px;
}

.main-homepage-center {
  grid-column: 2 / 3;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.friends-page,
.friend-requests-page,
.users-page {
  display: grid;
  grid-template-columns: clamp(200px, 30%, 360px) 1fr;
  grid-template-rows: 1fr;
  min-height: calc(100vh - 56px);
}

.friends-page-sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 8px;
}

.friends-page-content,
.friend-requests-page-content,
.users-page-content {
  background-color: #e9ebee;
  min-height: 100vh;
  padding: 14px 32px 48px;
}

.profile {
  background-color: #e9ebee;
  display: grid;
  width: 100%;
  grid-template-columns: 4fr 6fr;
  gap: 32px;
  position: relative;
  padding-bottom: 24px;
}

/* main .friends-page-sidebar.mobile {
  border-bottom: none;
} */

@media (max-width: 768px) {
  .main-homepage {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #d5d8db;
  }

  .main-homepage-right {
    display: none;
  }

  .main-homepage-center {
    gap: 0;
  }

  .main-homepage-sidebar {
    display: none;
    /* background-color: white;
    border-top: 8px solid white;
    border-bottom: 4px solid white; */
  }

  main {
    background-color: white;
  }

  .profile {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    gap: 0;
  }

  .friend-requests-page {
    display: flex;
    flex-direction: column;
  }

  main .friends-page-sidebar {
    border-bottom: 4px solid #d5d8db;
    padding-bottom: 32px;
  }
}