.main-homepage {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  justify-content: center;
  padding: 24px 0;
}

.main-homepage-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 0 8px;
}

.main-homepage-center {
  grid-column: 2 / 3;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.friends-page,
.friend-requests-page,
.users-page {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 56px);
}

.friends-page-sidebar {
  background-color: white;
  padding: 8px;
  border: 1px solid lightgrey;
}

.friends-page-content,
.friend-requests-page-content,
.users-page-content {
  padding: 14px;
}

@media (max-width: 768px) {
  .main-homepage {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #d5d8db;
  }

  .main-homepage-right {
    display: none;
  }

  .main-homepage-center {
    gap: 0;
  }

  main {
    background-color: white;
    margin-bottom: 64px;
  }
}