.topnav {
  position: sticky;
  top: 0;
  z-index: 2;
  align-self: center;
  width: calc(100% - 250px);
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 18px;
  margin-top: -56px;
}

.topnav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 32px;
  width: clamp(420px, 50%, 500px);
  height: 100%;
}

.topnav > ul > li {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav > ul a {
  color: #65676B;
  font-weight: bolder;
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.topnav > ul a:hover {
  background-color: #F5F6F7;
  border-radius: 5px;
}

.topnav-left {
  width: 190px;
}

.topnav-left > .logo {
  font-size: 36px;
  font-family: 'Cherry Swash', cursive;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(70deg, #0066ff, #66b9f5);
  border-radius: 50%;
}

.logo-container .logo {
  text-decoration: none;
  font-family: 'Cherry Swash', cursive;
  font-size: 1.6rem;
  font-weight: bolder;
  color: #0076ff;
}

.topnav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  width: 190px;
  height: 100%;
  position: relative;
}

.header-right {
  position: relative;
}

.header-right .profile-pic-icon {
  height: 41px;
  width: 41px;
  cursor: pointer;
}

.header-right > .profile-pic-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.header-right > .profile-pic-icon-container .after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .05);
  display: none;
}

.header-right > .profile-pic-icon-container:hover .after {
  display: block;
}

.topnav > ul a.active {
  height: 100%;
  border-bottom: 2px solid #0066ff;
  color: #0066ff;
}

.topnav > ul a.active:hover {
  background-color: transparent;
  border-radius: 0;
}

.account-menu {
  width: 180px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 16px grey;
  position: absolute;
  top: 52px;
  right: 0;
  display: none;
}

.account-menu.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  z-index: 2;
}

.account-menu.visible > form {
  flex: 1;
  display: flex;
  width: 100%;
}

.account-menu.visible > form > button {
  flex: 1;
  height: 44px;
  padding: 4px 8px;
  gap: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 5px;
}

.account-menu.visible > form > button:hover {
  background-color: #f5f6f7;
  cursor: pointer;
}

.account-menu.visible form:has(.delete-account) {
  margin-top: 8px;
}

.delete-account {
  color: maroon;
}

.mdi-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  background-color: #e9ebee;
  border-radius: 50%;
}

.menu-link {
  display: none;
  text-decoration: none;
  color: black;
  border-radius: 50%;
}

/* .topnav-mobile {
  padding: 6px 0;
  background-color: white;
  justify-content: center;
}

.topnav-mobile ul {
  font-size: 1.6rem;
}

.topnav-mobile > ul a.active {
  border: none;
} */

.topnav .friend-request-item {
  display: none;
}

@media (max-width: 768px) {
  .mdi-menu {
    width: 34px;
    height: 34px;
  }

  .topnav .friend-request-item {
    display: flex;
  }

  .topnav {
    position: static;
    width: 100%;
    height: 100%;
    padding: 6px 0;
    justify-content: center;
    z-index: 0;
    margin-top: 0;
  }

  .topnav ul {
    font-size: 1.6rem;
  }
  
  .topnav > ul a.active {
    border: none;
  }

  .menu-link {
    display: inline-block;
  }

  .header-right > .profile-pic-icon-container {
    position: absolute;
  }
}