.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.notification > form > button {
  width: 40px;
  height: 40px;
  padding: 8px 10px;
  border-radius: 50%;
  background-color: #e9ebee;
  border: none;
}

.notification > form > button:hover {
  background-color: #dbdddf;
  border-radius: 50%;
  cursor: pointer;
}

.mdi-bell {
  color: #1C1C1C;
  font-size: 20px;
}

.notification-badge {
  background-color: #fa3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 1px;
  right: -6px;
}

.notification-dropdown-container {
  position: absolute;
  background-color: white;
  top: 50px;
  right: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: black;
  box-shadow: 0 2px 16px grey;
  border-radius: 5px;
  padding: 16px;
}

.notification-dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-dropdown-header form button {
  border: none;
  background-color: transparent;
}

.notification-dropdown-header form button:hover {
  cursor: pointer;
}

.notification-dropdown-header .clear-all {
  font-size: 0.9rem;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.notifications-list-item {
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 12px;
  height: 72px;
}