.post-container {
  max-width: 530px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
}

.post-container.placeholder {
  gap: 12px;
  flex: 1;
}

.post-container.new,
.post-container.edit {
  flex-direction: column;
  padding: 12px 16px;
  flex: 1;
  width: 100%;
}

.post-container.empty {
  height: 100px;
}

.post-author-container {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 12px;
}

.post-body-text {
  font-size: 1rem;
  margin-bottom: 12px;
}

.post-text-placeholder {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #e9ebee;
  border-radius: 15px;
  padding: 10px;
  color: #596373;
}

.post-container.new hr,
.post-container textarea,
.post-container.published hr {
  width: 100%;
}

.post-container.published hr {
  border: 1px solid #eeedec;
}

.post-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
}

.post-container.published {
  padding: 12px 16px 0 16px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

form #post_body {
  height: 56px;
}

.post-author-container .close-link {
  color: black;
  font-size: 1rem;
  margin-left: auto;
}

.user-info-name-link {
  color: black;
  text-decoration: none;
}

.user-info-name-link:hover {
  text-decoration: underline;
}

#posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#new_post_frame {
  display: flex;
  justify-content: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.user-info-date {
  font-size: 0.8rem;
  font-weight: 400;
  color: #414a4c;
}

.post-buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 2px 0;
}

.post-buttons form {
  flex: 1;
}

#like-button-liked {
  background-color: dodgerblue;
  color: white;
}

.post-buttons form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 0;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5px;
}

.like-count-line,
.comment-count-line {
  font-size: 0.9rem;
  color: #596373;
  padding: 2px 0;
}

.comment-count-line:hover {
  text-decoration: underline;
}

.new-post-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attach-image-link {
  color: #596373;
  cursor: pointer;
}

.mdi.mdi-close:hover,
.mdi.mdi-close:focus {
  cursor: pointer;
  color: red;
}

.new-post-buttons-container > input[type="submit"] {
  background-color: #0076ff;
  color: white;
  border: 1px solid #0066ff;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.comment-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 8px;
  padding: 8px 0;
  border-radius: 5px;
}

.comment-button:hover,
.post-buttons form button:hover {
  background-color: #f5f6f7;
  cursor: pointer;
}

.comment-button:active,
.post-buttons form button:active {
  background: #eaecee;
}

.counts-container {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sidebar-item {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

.sidebar-item:hover {
  background-color: #dbdddf;
  cursor: pointer;
}

.sidebar-item > .item-label {
  flex: 1;
}

.sidebar-item > span.mdi {
  display: inline-block;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-item > span.mdi.mdi-account-multiple {
  background-image: linear-gradient(to right, #0051ff, #3af8ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.7rem;
}

.sidebar-item > span.mdi.mdi-account-group {
  color: white;
  background: linear-gradient(to right top, #0051ff, #3ad1ff);
  border-radius: 50%;
  font-size: 1.3rem;
}

.ellipsis-container {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 1.4rem;
  position: relative;
}

.ellipsis-container.comment {
  margin-left: 0;
  display: none;
  align-self: center;
  margin-bottom: 4px;
  border-radius: 50%;
}

.individual-comment-container:hover .ellipsis-container.comment {
  display: flex;
}

.ellipsis-container:hover {
  cursor: pointer;
  background-color: #eeedec;
}

.ellipsis-dropdown-container {
  position: absolute;
  top: 36px;
  right: 0;
  width: 140px;
  padding: 1px;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0 2px 16px grey;
  background-color: white;
  display: none;
}

.ellipsis-dropdown-container.visible {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.ellipsis-dropdown-container .item {
  padding: 10px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: white;
  border: none;
}

.ellipsis-dropdown-container .item:hover {
  background-color: #f5f6f7;
  cursor: pointer;
}

.edit-post-link {
  color: black;
}

.comment-form-validation-error-message {
  font-size: 0.8rem;
  color: maroon;
  margin-top: -10px;
  margin-left: 10px;
}

.post-error-message {
  color: maroon;
  margin-top: -8px;
  font-size: 0.9rem;
}

.post-body-text {
  margin-bottom: 24px;
}

.turbo-frame-post {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-posts .turbo-frame-post {
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .post-container {
    max-width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 10px;
  }

  .post-container.new {
    margin-top: 4px;
  }

  .post-container.placeholder {
    margin: 4px 0 0 0;
  }

  .post-container.published {
    padding: 10px 12px 0;
  }

  .sidebar-item:hover {
    background-color: #F5F6F7;
  }

  #posts {
    gap: 8px;
    margin-top: 8px;
    /* padding-bottom: 4px; */
    /* border-bottom: 72px solid white; */
  }

  .turbo-frame-post:last-child {
    margin-bottom: 64px;
  }

  .post-text-placeholder {
    margin-right: 4px;
  }

  .post-text-placeholder .name {
    display: none;
  }

  .individual-comment-container .ellipsis-container.comment {
    display: flex;
  }
  
  .ellipsis-container:active {
    cursor: pointer;
    background-color: #d4d6d6;
  }

  .post-buttons .button-text {
    display: none;
  }
}