.post-container {
  width: 600px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px 8px 24px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
}

.post-container.new,
.post-container.published {
  flex-direction: column;
  padding: 12px 24px;
}

.post-author-container {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 12px;
}

.post-body-text {
  font-size: 1rem;
  margin-bottom: 8px;
}

.post-text-placeholder {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #e9ebee;
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
  color: #596373;
}

.post-container.new hr,
.post-container textarea,
.post-container.published hr {
  width: 100%;
}

.post-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.post-container.published {
  flex-direction: column;
  align-items: flex-start;
}

form #post_body {
  height: 56px;
}

.post-author-container > a {
  color: black;
  margin-left: auto;
  font-size: 1rem;
}

#posts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.user-info-date {
  font-size: 0.8rem;
  font-weight: 400;
}

.post-buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.post-buttons form {
  flex: 0;
}

#like-button-liked {
  background-color: dodgerblue;
  color: white;
}

.post-buttons form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.like-count-line {
  font-size: 0.9rem;
  color: #596373;
}

.new-post-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attach-image-link {
  color: #596373;
  cursor: pointer;
}

.mdi.mdi-close:hover,
.mdi.mdi-close:focus {
  cursor: pointer;
  color: red;
}
