@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Regular.ttf');
}

.profile {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 32px;
}

.profile .profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

.profile .profile-posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.profile-info .profile-avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: inline-block;
}

.profile-info .profile-avatar.own > img {
  cursor: pointer;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.profile-info-details {
  background-color: white;
  width: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  color: #596373;
  font-size: 1.2rem;
}

.profile-info-details > #profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

a.edit-profile-button {
  align-self: center;
  background-color: #e2e3e5;
  color: black;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 8px;
  margin-top: 36px;
}