ul.users-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 20px;
}

li.user-card-item {
  background-color: white;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

li.user-card-item > .card-item-details,
.friend-card-item-details,
.friend-request-card-item-details {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.user-card-item .card-item-middle .mdi {
  margin-left: 12px;
  font-size: 1.1rem;
  color: #000000c4;
}

li.user-card-item .card-item-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

li.user-card-item > div > div > a {
  text-decoration: none;
  color: #000000c4;
  font-size: 1.1rem;
  font-weight: 700;
}

li.user-card-item > div > div > a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .users-page {
    display: flex;
    flex-direction: column;
  }

  div.users-page-content {
    padding: 0;
  }

  li.user-card-item {
    align-items: flex-start;
    box-shadow: none;
    padding: 16px 14px;
    border-radius: 0;
  }

  li.user-card-item > .card-item-details,
  .friend-card-item-details,
  .friend-request-card-item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    gap: 14px;
  }

  h2.content-title-container {
    gap: 14px;
  }

  ul.users-list {
    gap: 0;
    background-color: white;
  }
}