ul.users-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 20px;
}

li.user-card-item {
  background-color: white;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

li.user-card-item > .card-item-middle {
  width: 520px;
}

li.user-card-item > .card-item-middle .mdi {
  margin-left: 12px;
  font-size: 1.1rem;
  color: #000000c4;
}

li.user-card-item > .card-item-right {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 18px;
}

li.user-card-item > div > a {
  text-decoration: none;
  color: #000000c4;
  font-size: 1.1rem;
  font-weight: 700;
}

li.user-card-item > div > a:hover {
  text-decoration: underline;
}